Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
email_validator==2.2.0
WTForms==3.2.1
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
SQLAlchemy==2.0.40
bcrypt==4.3.0
numpy>=1.22
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
joblib==1.4.2
python-slugify==8.0.4
gunicorn==21.2.0  # Needed by Render to run the app
